<body>
  <br>
  <br>
  <div class="headings"> <h1> Admin Dashboard  <button type="button" class="btn btn-primary" (click)="logout()" id="logout"> log out</button></h1></div>
<div class="container">
  
    
 <div class="row">
     <div class="col" *ngFor="let val of info">
        <div class="card " style="width: 18rem;" >
            <img class="card-img-top" style="width:100px;height:100px" [src]="val.photo" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name : {{val.name}}</li>
              <li class="list-group-item">Age : {{val.age}}</li>
              <li class="list-group-item">Contact: {{val.phone}}</li>
              <li class="list-group-item">Email : {{val.email}}</li>
              <li class="list-group-item">User Name: {{val.username}}</li>
            </ul>
            <div class="card-body">
              <button type ='button'  class="btn btn-primary" (click)=block(this.val.id)> block</button>
              <button type ='button'  class="btn btn-primary" (click)=unblock(this.val.id)> unblock</button>
            </div>
          </div>
     </div>
 </div>

</div>
</body>