<body>
<div class="container-fluid">
   
        <div class="headings">
            <h1> The Login Page</h1>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="../../../assets/images/buildings.png" id="im1"><br><br>
                    <h1>The Share App</h1>
                    <hr><br>
                    <p>The share app can be accessed from devices with Internet connectivity,
                         such as personal computers, tablets and smartphones.
                          After registering, users can create a profile revealing information about themselves.
                           They can post text, photos and multimedia which is shared with any other users that have agreed to be their "friend", 
                           or, with a different privacy setting, with any reader..</p>


                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="../../../assets/images/executive.png" id="im2"><br>
                    <div>
                        <br><br>
                        <div class="text-center" id="bn">
                            <button class="btn btn-primary" type="button" (click)="user()">User Login</button> <button
                                class="btn btn-primary" type="button" (click)="admin()">Admin Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</body>